{% extends 'app_padel/base.html' %} 
{% block content %}
<title>Gestionar Detalles del Club</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="content" id="content">
    <div class="container mt-4">
        <h2 class="text-center">Gestionar Detalles del Club: {{ club.nombre }}</h2>
        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            {{ form.ubicacion.label_tag }} {{ form.ubicacion }}
            {{ form.descripcion_larga.label_tag }} {{ form.descripcion_larga }}
            {{ form.numero_pistas.label_tag }} {{ form.numero_pistas }}

            <div class="form-group">
                <label>Imagen Principal</label><br>
                {% if detalles_club.imagen_principal %}
                    <img src="data:image/png;base64,{{ detalles_club.imagen_principal }}" alt="Imagen Principal" class="img-thumbnail mb-2">
                {% endif %}
                {{ form.imagen_principal }}
                {{ form.imagen_principal_file }}
            </div>

            <div class="form-group">
                <label>Imagen Secundaria</label><br>
                {% if detalles_club.imagen_secundaria %}
                    <img src="data:image/png;base64,{{ detalles_club.imagen_secundaria }}" alt="Imagen Secundaria" class="img-thumbnail mb-2">
                {% endif %}
                {{ form.imagen_secundaria }}
                {{ form.imagen_secundaria_file }}
            </div>

            <button type="submit" class="btn btn-primary">Guardar Detalles</button>
        </form>
    </div>
    </div> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
